.day {
  width: 200px;
  height: 100%;
  padding: 15px 10px 5px 10px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day-weather {
  height: 65px;
  background: no-repeat center/3rem url("../../../src/assets/images/2480626.png");
  display: flex;
  justify-content: center;
}

.day-current-weather {
  height: 65px;
  background: no-repeat center/3rem url("../../../src/assets/images/2480626\ \(1\).png");
  display: flex;
  justify-content: center;
}

.day-events {
  display: grid;
  grid-gap: 10px;
  width: 100px;
  height: 100%;
  grid-auto-rows: 60px;
  grid-template-rows: 60px;
  align-content: stretch;
  justify-content: center;
  margin: 0 auto 4px auto;
  overflow: auto;
  border-radius: 0 0 18px 18px;
}

.product-image {
  width: 100%;
}

.event {
  width: 100px;
  border: transparent;
  padding: 8px;
  border-radius: 5px;
  font-size: 23px;
  background-color: white;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-title {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 1.35rem;
  font-weight: 700;
}

.current-day-title {
  background-color: white;
}

.current-day-day {
  background: no-repeat center bottom url("/src/assets/images/sunflower-today.gif");
  background-size: 6.5rem;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}


.current-day-day .day-events {
  height: calc(100% - 155px);
}
