.container-home {
    background: url("../../assets/images/moon.png"), url("../../assets/images/sun\ and\ clouds.png");
    background-repeat: no-repeat;
    background-color: #a2daf3;
    background-position: -0.1cm bottom, right -2cm;
    background-size: 122rem, 39rem;
}

.h1-home {
    font-size: 140px;
    color: white;
    padding: 165px 10px 10px 10px;
    margin: 0 auto;
    text-shadow: 0 3px 3px hsl(0deg 0% 0% / 35%);
}


.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

.input-auth {
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;

}

.btn-flex {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 0
}


.submit-login {
    font-size: 20px;
    font-weight: bold;
    background-color: #feba55;
    width: 205px;
    margin: 8px 0 0 0;
    padding: 3px;
    cursor: pointer;
}

.submit-register {
    font-size: 20px;
    font-weight: bold;
    background-color: #feba55;
    width: 205px;
    margin: 8px 0 0 0;
    padding: 3px;
    cursor: pointer;
}

.yellow {
    background-color: #f5ec87;
}

.login {
    font-size: 25px;
}




.pics-flex p {
    font-size: 40px;
    color: black;
    margin: 0;
    padding: 0 0 0 25px;
}

img {
    width: 5.6rem;
}

.h3-home {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
}


.container-name {
    height: 100px;
    width: 700px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    background: hsl(0deg 0% 91%);
    box-shadow: inset 0 3px 3px hsl(0deg 0% 0% / 35%), 0 0px 0 hsl(0deg 0% 100% / 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    padding: 0 20px;
    cursor: pointer;
}

.container-name--wide {
    justify-content: flex-start;

}

.container-name::-webkit-scrollbar {
    height: 6px;
    /* width of the entire scrollbar */
}

.container-name::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    /* color of the tracking area */
}

.container-name::-webkit-scrollbar-thumb {
    background-color: #314961cf;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
}

.bnt-flex {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.bnt-flex img {
    width: 3rem;
    padding: 20px;
    cursor: pointer;
}

.fill-home {
    height: 100vh;
}


.user-wrapper {
    position: relative;
}

.delete-icon-wrapper {
    position: absolute;
    top: -5px;
    right: -5px;
}

.delete-icon-wrapper img {
    width: 1.5rem;
    cursor: pointer;
}