.flex-events {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 15px;
  background-color: #00000080;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 300ms;
  border-top: solid white 3px;
}

.flex-events.visible {
  transform: translateY(0);
}

.events {
  width: calc(100% - 230px);
  margin: 0 auto;
  padding: 5px;
}


button {
  border: transparent;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  width: 70px;
}

button.toggle-button {
  color: white;
  position: absolute;
  top: -3px;
  right: 40px;
  transform: translateY(-100%);
  white-space: nowrap;
  width: auto;
  border-radius: 35px 35px 0 0;
  background: white;
  cursor: pointer;
  font-size: 20px;
}

button img {
  width: 2.8rem;
}


img[alt='Toggle Events']{
  width: 3rem;
}