
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 8% 10px 8%;
    align-items: center;
}


.date {
    background-color: #fff;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    padding: 0.3rem 0.7rem;
    font-size: 1.5rem;
    font-weight: 700;
}


.hello {
    background-color: #fff;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    padding: 1rem 4.5rem;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;
    transform: rotate(-2deg);
}

.hello:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.hello:hover:after {
    bottom: 2px;
    left: 2px;
}


.right-header{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
} 