.weather{
    display: flex;
    gap: 8px;

}

.weatherIcon{
    width: 40px;
    height: auto;

}

.weatherIcon-btn{
    display: flex;
    background: white;
    border: thick double white;
    border-radius: 5px;
    padding: 1px;
    cursor: grab;
    
} 